:root {
  --accent-color: slateblue;
  --secondary-accent-color: rgb(72, 58, 167);
}

.home-intro-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.home-intro-text {
  text-align: left;
  margin: 10rem 1rem 1rem auto;
}

.home-intoduction {
  color: var(--accent-color);
  margin: 0;
}

.home-name {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.home-profile-pic {
  height: 20%;
  width: 20%;
  margin: 10rem auto 1rem 1rem;
  border-radius: 10px;
  filter: drop-shadow(30px 10px var(--accent-color));
}

.company {
  position: relative;
  width: 11rem;
  max-width: 15rem;
  overflow-y: auto;
}

.company-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
  color: var(--accent-color);
  text-align: left;
  border-left: 2px solid darkgray;
  font-size: 1rem;
}

.company-button:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

.company-button[aria-selected="true"] {
  border-left-color: var(--accent-color);
}

.experience-section {
  display: block;
  padding: 1rem 0px;
  max-width: 800px;
  margin: 0px auto;
}

.experiences {
  display: flex;
  margin: 1rem;
  min-height: 350px;
}

.experience-container {
  position: relative;
  width: 100%;
  margin-left: 20px;
  text-align: left;
}

.experience-description {
  width: 100%;
  height: auto;
}

.work-details {
  /* display: grid; */
  /* width: 50%; */
}

.work-details-role {
  /* width: 50%; */
}

.work-details-title {
  padding: 0%;
  margin-top: 0%;
}

.work-details-compamy {
  color: var(--accent-color);
}

.work-details-date-range {
  color: var(--secondary-accent-color);
}

@media (max-width: 700px) {
  .home-intro-text {
    text-align: left;
    margin-left: 1rem;
  }

  .home-profile-pic {
    height: 50%;
    width: 50%;
    margin: 1rem auto;
  }

  .company {
    display: flex;
    overflow-x: auto;
    margin-bottom: 0.5rem;
    max-width: 400px;
  }

  .company-button {
    border-left: none;
    border-bottom: 2px solid darkgray;
    width: auto;
  }

  .company-button[aria-selected="true"] {
    border-bottom-color: var(--accent-color);
  }

  .experiences {
    display: grid;
    align-content: center;
    place-items: center;
    padding: 0px 10px;
    min-height: 0px;
  }

  .experience-container {
    display: grid;
    place-items: center;
    margin-left: 0rem;
  }

  .work-details-title {
    text-align: center;
  }

  .work-details-date-range {
    text-align: center;
  }
}
