:root {
  --accent-color: slateblue;
}

.infocards {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  align-content: center;
}

.info-card {
  background-color: transparent;
  width: 30vw;
  height: 50vh;
  margin: 0 0.25rem;
  border: 1px solid white;
  perspective: 1000px;
  cursor: pointer;
}

.info-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.8s;
  transform-origin: center right;
  transform-style: preserve-3d;
}

.info-card-inner.flip {
  transform: translateX(-100%) rotateY(-180deg);
}

.info-card-front,
.info-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.info-card-back {
  background-color: var(--accent-color);
  color: white;
  transform: rotateY(180deg);
  overflow-y: auto;
}

@media (prefers-color-scheme: light) {
  .info-card {
    border: 1px solid black;
  }
}

@media (max-width: 500px) {
  .infocards {
    display: grid;
  }
  .info-card {
    width: 80vw;
    margin: 0.25rem;
  }
}
