@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  color-scheme: light dark;
  accent-color: slateblue;
  --secondary-accent-color: rgb(72, 58, 167);
}

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    rgba(255, 0, 0, 0),
    rgba(72, 58, 167, 0.25)
  );
  background-attachment: fixed;
}

button {
  cursor: pointer;
  border: 0px none;
  border-radius: 0px;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.5s;
  position: fixed;
  z-index: 999;
}

.navbar.sticky {
  width: 100%;
  height: 40px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 999;
  border-bottom: 1px solid white;
}

.navbar .links {
  text-align: center;
  margin-right: 50px;
}

.navbar.sticky .links a {
  color: white;
  border-bottom: 3px solid white;
}

.links a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid var(--accent-color);
  margin: 10px;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  margin: 0px auto;
  min-height: 40vh;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.logo-title {
  color: var(--secondary-accent-color);
  margin-top: 5rem;
}

.logos {
  display: flex;
  flex-wrap: wrap;
}

/* --order is passed from image-section  */
.logo {
  margin: 0 0.5rem;
  transition-delay: calc(200ms * var(--order));
}

.logo.hidden {
  transform: translateX(-100%);
}

.logo.show {
  transform: translateX(0);
}

.logo-image {
  height: 100px;
  width: auto;
  max-width: 125px;
}

.projects-header {
  margin-top: 5rem;
}

.projects-subheader {
  margin: 0 0 0.5rem 0;
}

.infocards {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  align-content: center;
}

.info-card {
  background-color: transparent;
  width: 30vw;
  height: 50vh;
  margin: 0.25rem;
  border: 1px solid white;
  perspective: 1000px;
  cursor: pointer;
}

.info-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.8s;
  transform-origin: center right;
  transform-style: preserve-3d;
}

.info-card-inner.flip {
  transform: translateX(-100%) rotateY(-180deg);
}

.info-card-front,
.info-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.info-card-back {
  background-color: var(--accent-color);
  color: white;
  transform: rotateY(180deg);
  overflow-y: auto;
  display: grid;
  position: relative;
}

/* scroll bar for info cards description, not supported in firefox or edge prior 97*/
.info-card-back::-webkit-scrollbar {
  width: 10px;
}

.info-card-back::-webkit-scrollbar-track {
  background: #dbdbdb;
}

.info-card-back::-webkit-scrollbar-thumb {
  background: #888;
}

.info-card-back::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.info-card-back::after {
  background-color: white;
}

.card-link-container {
  position: sticky;
  bottom: 0;
  width: 100%;
}

.card-link-container a {
  position: sticky;
  bottom: 0;
  padding: 0 0.5rem;
  text-align: center;
  border-radius: 20px;
  margin: 0 0.25rem;
  background-color: darkblue;
  color: white;
}

.card-link-container a:hover {
  background-color: rgb(75, 75, 223);
}

.card-description {
  margin: 0px 1rem;
}

.card-chip-container {
  position: sticky;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  align-self: flex-end;
}

.chip {
  display: inline-block;
  padding: 0 0.5rem;
  background-color: blue;
  border-radius: 20px;
  margin: 0.1rem;
}

section.pdfViewer {
  min-height: 50vh;
}

.downloadLink {
  margin-top: 5em;
}

.pdf-container {
  overflow-y: auto;
  overflow-x: auto;
  resize: both;
  position: relative;
}

iframe {
  height: 100vh;
  width: 50vw;
}

.contact-form-container {
  display: grid;
  align-items: center;
  margin: 5rem auto;
}

.contact-external-links-container {
  display: flex;
  align-items: center;
  place-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.contact-email-logo {
  cursor: pointer;
}

.contact-form {
  display: grid;
  align-items: center;
  width: 50vw;
  margin: auto;
}

.success-msg,
.error-msg {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 3px 3px 3px 3px;
  width: 90vw;
}

.success-msg {
  color: rgb(34, 119, 0);
  background-color: rgb(223, 242, 191);
}

.error-msg {
  color: rgb(216, 0, 12);
  background-color: rgb(255, 186, 186);
}

@media (prefers-color-scheme: light) {
  html {
    background-color: aliceblue;
    color: black;
  }
  .links a {
    color: black;
    border-bottom: 3px solid black;
  }
  .navbar.sticky {
    border-bottom: 1px solid black;
  }

  .info-card {
    border: 1px solid black;
  }
}

@media (prefers-color-scheme: dark) {
  .contact-external-links-container {
    filter: invert(1);
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }

  .navbar {
    transition: none;
  }
}

@media (max-width: 700px) {
  .navbar {
    display: grid;
  }

  .navbar .links {
    margin-right: 0px;
  }

  .navbar.sticky {
    display: grid;
    height: 50px;
  }

  .logos {
    flex-direction: column;
  }

  .logo-title {
    margin-top: 0;
  }

  section.logo {
    min-height: 20vh;
  }

  .infocards {
    display: grid;
  }
  .info-card {
    height: 35vh;
    width: 80vw;
  }

  iframe {
    padding: 0 0 0 0;
    width: 100%;
  }
}
