@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  color-scheme: light dark;
  accent-color: slateblue;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
  border: 0px none;
  border-radius: 0px;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 0.5s;
  position: fixed;
  z-index: 999;
}

.navbar.sticky {
  width: 100%;
  height: 40px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 999;
  border-bottom: 1px solid white;
}

.navbar .links {
  text-align: center;
  margin-right: 50px;
}

.navbar.sticky .links a {
  color: white;
  border-bottom: 3px solid white;
}

.links a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
  margin: 10px;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  margin: 0px auto;
  min-height: 40vh;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.logos {
  display: flex;
  flex-wrap: wrap;
}

/* --order is passed from image-section  */
.logo {
  margin: 0 0.5rem;
  transition-delay: calc(200ms * var(--order));
}

.logo.hidden {
  transform: translateX(-100%);
}

.logo.show {
  transform: translateX(0);
}

section.pdfViewer {
  min-height: 50vh;
}

.downloadLink {
  margin-top: 5em;
}

iframe {
  height: 100vh;
  width: 80vw;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: aliceblue;
    color: black;
  }
  .links a {
    color: black;
    border-bottom: 3px solid black;
  }
  .navbar.sticky {
    border-bottom: 1px solid black;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }

  .navbar {
    transition: none;
  }
}

@media (max-width: 700px) {
  .navbar {
    display: grid;
  }

  .navbar .links {
    margin-right: 0px;
  }

  .navbar.sticky {
    display: grid;
    height: 50px;
  }

  .logos {
    flex-direction: column;
  }

  section {
    min-height: 20vh;
  }

  section.logo {
    min-height: 30vh;
  }

  iframe {
    height: 60vh;
    width: 100vw;
  }
}
